*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: 
    "header header header"
    "aside  main   ad"
    "footer footer  footer";
}
.container>*{
    border: 1px solid green;
}
.container>header{
    grid-area: header;
}
.container>aside{
    grid-area: aside;
}
.container>main{
    grid-area: main;
}
.container>.ad{
    grid-area: ad;
}
.container>footer{
    grid-area: footer;
}